.container {
  .blog {
    color: var(--color-purple);
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }
  .title {
    color: var(--text-color);
    font-size: 1.1rem;
    margin: 1rem 0;
    &:hover {
      color: var(--color-purple);
      cursor: pointer;
    }
  }
  .line {
    width: 15px;
    height: 1px;
    background-color: rgb(182, 182, 182);
    margin: 1rem 0;
  }
  .author {
    font-weight: 400;
    color: var(--text-color-light);
  }
}
