.caringBlock {
  --text-size: 3.2rem;
  .movable {
    color: white;
    font-size: 2.5rem;
  }
  .movableFloor {
    font-size: 2.5rem;
    position: absolute;
    bottom: 0;
    visibility: hidden;
  }
  .firstPart {
    padding: var(--measeure-block-padding);
    background-color: var(--color-dark-blue);
    display: flex;
    .left {
      flex: 60%;
      // background-color: red;
      position: relative;

      font-size: var(--text-size);

      .greenText {
        color: var(--color-green);
      }
    }
    .right {
      flex: 40%;
      .container {
        width: 85%;
        margin: auto;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.15);
        border-radius: 100rem;
        padding: 5rem 3rem;
        .block {
          margin-top: 3rem;
          .head {
            font-size: 2rem;
            color: var(--color-green);
          }
          .text {
            color: white;
            font-size: 0.9rem;
            margin: 1rem 0;
          }
          .button {
            width: max-content;
            margin: 2rem auto;
            border-radius: 5rem;
            padding: 0.8rem 1.7rem;
            font-size: 0.7rem;
            font-weight: bold;
            transition: all 300ms ease;
            background-color: white;
            color: var(--text-color);
            &:hover {
              cursor: pointer;
              transform: scale(1.1);
              background-color: var(--color-green);
              color: white;
            }
          }
        }
        .divider {
          height: 1px;
          background-color: white;
          margin-top: 3rem;
        }
      }
    }
  }
  .secondPart {
    padding: var(--measeure-block-padding);
    background-color: var(--color-purple);
    display: flex;
    .left {
      flex: 50%;
      position: relative;
    }
    .right {
      flex: 50%;
      .text {
        color: white;
        font-size: 1.8rem;
      }
      .boxBlock {
        width: 90%;
        margin-top: 6rem;
        display: flex;
        gap: 2rem;
        .box {
          flex: 1;
          border-left: 1px solid rgba(255, 161, 255, 0.288);
          .head {
            color: var(--color-green);
            font-weight: bold;
            padding-bottom: 10px;
            transform: translate(-3px, -4px);
          }
          .section {
            .image {
            }
            .description {
              color: white;
              margin: 1rem;
            }
            .arrow {
              margin: 1rem;
            }
          }
        }
      }
    }
  }
}
